html {
  background: #f2f2f2;
  -webkit-background-size: 100% 100% cover;
  -moz-background-size: 100% 100% cover;
  -o-background-size: 100% 100% cover;
  background-size: 100% 100% cover;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
}
.service {
  max-width: 700px;
  margin: 0 auto;
  border-radius: 5px;
  background-color: #f0f0f5;
  outline: none;
  border: 2px solid #ffe6ff;
  padding-bottom: 20px;
  text-align: center;
}
.companyOffice {
  padding-left: 25px;
  font-size: 20px;
  width: 50%;
}
.companyOffice p {
  margin: 0;
}
.selectOffice {
  border-radius: 5px;
  outline: none;
  font-size: 17px;
  height: 50px;
  padding-left: 10px;
  margin-top: 10px;
  background: transparent;
  width: 89%;
}
.selectOffice:hover,
.selectOffice:focus {
  border: 1px solid #ff99ff;
}
.office {
  margin-left: 35px;
  font-size: 20px;
  padding-right: 45px;
}
.serviceInfo {
  margin-top: 15px;
  height: 50px;
  font-size: 20px;
  display: flex;
}
.edit {
  background-color: transparent;
  outline: none;
  border: none;
  height: 20px;
  margin-top: 15px;
}
.edit:hover,
.delete:hover {
  color: lightgray;
}
.delete {
  background-color: transparent;
  outline: none;
  border: none;
  height: 20px;
  margin-top: 13px;
  margin-right: 15px;
}
.edit-delete {
  display: flex;
}
.serviceInfo p {
  font-size: 20px;
  color: grey;
  margin: 0;
  margin-bottom: 15px;
}
.spaces {
  width: 33%;
  text-align: center;
  font-size: 20px;
}

.serviceList {
  padding-top: 150px;
  opacity: 1;
  background-color: white;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
.createService {
  margin: 0 auto;
  max-width: 700px;
  margin-bottom: 100px;
}
.rectangle {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-right: 20px;
  padding-left: 20px;
}
.createButton,
.deleteButton,
.create {
  float: right;
  border: none;
  background: transparent;
  outline: none;
}
.createButton i,
.deleteButton i {
  color: #d966ff;
}
.createButton i:hover,
.deleteButton i:hover {
  color: #ffccff;
}
.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 100px;
  max-height: calc(100vh - 100px);
  overflow-y: auto;
}
.create i {
  font-size: 90px;
  color: #d966ff;
}
.create i:hover {
  color: #ffccff;
}
.serviceEdit {
  max-width: 800px;
  margin: 0 auto;
  min-height: 600px;
  border-radius: 5px;
  background-color: white;
  outline: none;
  border: 2px solid #ffe6ff;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
.name,
.newName {
  border-radius: 5px;
  border: 1px solid #595959;
  background-color: white;
  height: 50px;
  font-size: 25px;
  padding-left: 10px;
  padding-right: 10px;
  outline: none;
  margin-top: 10px;
}
.name {
  width: 86%;
  font-weight: bold;
  color: #d966ff;
}
.newName {
  width: 89%;
}
.newName:hover,
.newName:focus {
  border: 1px solid #ff99ff;
}
.serviceName {
  width: 600px;
  padding-left: 75px;
  font-size: 28px;
}
.addNewService {
  width: 600px;
  height: 130px;
  padding-left: 25px;
  font-size: 35px;
}
.addNewService p {
  color: #d966ff;
  font-weight: bold;
}
.createNewName {
  height: 110px;
  font-size: 20px;
}
.createNewName p,
.createNewDesc p {
  margin: 0;
}
.createNewDesc {
  font-size: 20px;
}
.serviceName p {
  font-weight: bold;
  color: #d966ff;
  padding-left: 10px;
}
.textarea {
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 15px;
  color: #595959;
  margin-left: 25px;
  margin-top: 25px;
}
.createTextarea {
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 15px;
  color: #595959;
  margin-top: 10px;
  width: 91%;
  outline: none;
}
.createTextarea:hover,
.createTextarea:focus {
  border: 1px solid #ff99ff;
}
.serviceDesc {
  margin-top: 10px;
  padding-left: 55px;
  padding-right: 60px;
  height: 130px;
  font-size: 20px;
}
.editInfo {
  padding-left: 25px;
  color: grey;
  margin-bottom: 50px;
  margin-top: 30px;
}
.firstDiv,
.secondDiv {
  width: 50%;
  margin-left: 25px;
}
.duration,
.price {
  width: 33%;
  text-align: center;
  font-size: 20px;
}
.error_message {
  width: 97%;
  text-align: center;
  color: red;
}
.createButton:disabled i {
  color: grey;
}
.responsive {
  display: flex;
}
.icons {
  font-size: 80px;
}
@media only screen and (max-width: 650px) {
  .serviceInfo {
    display: inline;
    text-align: center;
  }
  .spaces,
  .duration,
  .price {
    width: 100%;
  }
}

@media only screen and (max-width: 800px) {
  .responsive {
    display: inline;
    text-align: center;
  }
  .firstDiv,
  .secondDiv {
    width: 90%;
  }
  .newName,
  .createTextarea {
    text-align: center;
  }
  .icons {
    font-size: 50px;
  }
}
