.service {
  max-width: 700px;
  margin: 0 auto;
  margin-top: 50px;
  background: white;
  outline: none;
  border: 2px solid #ffe6ff;
  border-radius: 5px;
  text-align: center;
}
.rectangle {
  padding-left: 20px;
  padding-right: 20px;
}
.serviceInfo {
  display: flex;
}
.serviceInfo p {
  color: grey;
}
.spaces,
.duration,
.price {
  width: 33%;
  text-align: center;
}
.serviceName p,
.serviceDesc p {
  font-size: 25px;
}
.bookNow {
  width: 40%;
  min-height: 40px;
  border-radius: 5px;
  outline: none;
  color: white;
  background: #d966ff;
  font-size: 20px;
  padding-top: 5px;
  margin-bottom: 20px;
}
.bookNow:hover {
  background: #ffccff;
}
.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 100px;
  max-height: calc(100vh - 100px);
}
.office {
  max-width: 700px;
  margin: 0 auto;
  margin-top: 50px;
  outline: none;
}
.officeInfo {
  display: flex;
}
.officeInfo p {
  color: grey;
}
.officeAddress,
.officeEmail,
.officePhone {
  width: 33%;
  text-align: center;
}
.officeName p,
.officeDesc p {
  font-size: 25px;
  text-align: center;
}
.booking {
  border-radius: 5px;
  max-width: 800px;
  margin: 0 auto;
  padding-left: 100px;
  padding-right: 100px;
  background: white;
  padding-bottom: 50px;
  padding-top: 50px;
}
.close {
  font-size: 15px;
  border: none;
  background: transparent;
  color: grey;
  outline: none;
}
.close:hover {
  color: black;
}
.header {
  text-align: center;
}
.header h1 {
  font-weight: normal;
  color: #d966ff;
}
.header p {
  color: grey;
}
.formular {
}
.formular p {
  font-size: 20px;
}
.firstDiv,
.secondDiv,
.thirdDiv {
  display: flex;
}
.name,
.phone,
.email,
.address {
  width: 97%;
  height: 50px;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid black;
  outline: none;
  font-size: 20px;
}
.next {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  font-size: 20px;
  padding-left: 5px;
  padding-right: 5px;
  outline: none;
  border: none;
  background: #d966ff;
  color: white;
}
.next:hover,
.closeButton:hover {
  background: #ffccff;
}
.next_button {
  width: 50%;
  margin: 0 auto;
  padding-top: 25px;
}
.address:hover,
.address:focus,
.date:hover,
.date:focus,
.name:hover,
.name:focus,
.phone:hover,
.phone:focus,
.email:hover,
.email:focus {
  border: 1px solid #ffccff;
}
.sendBooking {
  max-width: 800px;
  background: white;
  padding-left: 100px;
  padding-right: 100px;
  margin: 0 auto;
  border-radius: 5px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.img {
  margin: 0 auto;
  max-width: 260px;
}
.requestSend p {
  max-width: 273px;
  margin: 0 auto;
  padding-top: 50px;
  font-size: 30px;
  color: #d966ff;
}
.confirmation p {
  color: grey;
  font-size: 20px;
  text-align: center;
  max-width: 664px;
  margin: 0 auto;
  padding-top: 50px;
}
.closeButton {
  border: none;
  outline: none;
  width: 100%;
  min-height: 50px;
  font-size: 20px;
  color: white;
  background: #d966ff;
  border-radius: 5px;
}
.buttonSize {
  width: 40%;
  margin: 0 auto;
  padding-top: 100px;
}
.flatpickr-calendar {
  border: 1px solid red;
  max-width: 40%;
  margin: 0px auto;
  top: 1854px;
  left: 571.625px;
  right: auto;
  height: 200px;
}
input.ng-invalid.ng-touched {
  border: 1px solid red;
}
.error_message {
  width: 97%;
  text-align: center;
  color: red;
}
.next:disabled {
  background: grey;
}
.date {
  border-radius: 5px;
  min-height: 50px;
  width: 100%;
  font-size: 20px;
  outline: none;
  border: 1px solid black;
}
.inputDesign {
  width: 97%;
  padding-left: 30px;
}
@media only screen and (max-width: 700px) {
  .officeInfo {
    display: block;
    text-align: center;
  }
  .officeAddress,
  .officeEmail,
  .officePhone {
    width: 100%;
  }
  .serviceInfo {
    display: block;
    text-align: center;
  }
  .spaces,
  .duration,
  .price {
    width: 100%;
  }
}
@media only screen and (max-width: 800px) {
  .formular {
    display: block;
    text-align: center;
  }
  .firstDiv,
  .secondDiv,
  .thirdDiv {
    display: block;
  }
  .booking {
    padding-left: 20px;
    padding-right: 20px;
  }
  .inputDesign {
    padding: 0;
  }
  .name,
  .phone,
  .email,
  .address {
    text-align: center;
  }
  .sendBooking {
    padding-left: 20px;
    padding-right: 20px;
  }
}
