<app-page-header>
</app-page-header>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="bkg-public" style="padding-top: 150px;">
  <div class="officeHead">
    <div class="office">
      <div class="officeName">
        <p>{{office.name}}</p>
      </div>
      <div class="officeDesc">
        <p>{{office.description}}</p>
      </div>
      <div class="officeInfo">
        <div class="officeAddress">
          <span>{{office.address}}</span>
          <p>Adress</p>
        </div>
        <div class="officeEmail">
          <span>{{office.email}}</span>
          <p>Email</p>
        </div>
        <div class="officePhone">
          <span>{{office.phone}}</span>
          <p>Phone</p>
        </div>
      </div>
    </div>
  </div>

  <div class="serviceList" *ngFor="let service of servicesList">
    <div class="rectangle">
      <div class="service">
        <div class="serviceName">
          <p>{{service.name}}</p>
        </div>
        <div class="serviceDesc">
          <p>{{service.description}}</p>
        </div>
        <div class="serviceInfo">
          <div class="spaces">
            <span>{{service.spaces}}</span>
            <p>Spaces</p>
          </div>
          <div class="duration">
            <span>{{service.duration}}</span>
            <p>Duration</p>
          </div>
          <div class="price">
            <span>{{service.price}}</span>
            <p>Price</p>
          </div>
        </div>
        <div>
          <button type="button" class="bookNow" title="Book this service" (click)="toggleBook(service)">BOOK NOW</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal" *ngIf="bookEnabled">
    <form class="booking" (ngSubmit)="addBooking()" #bookingForm="ngForm">
      <div style="float:right;">
        <button type="button" class="close" (click)="toggleUndo()">x</button>
      </div>
      <div class="header">
        <h1>Make your booking</h1>
        <p>PERSONAL DETAILS</p>
      </div>
      <div class="formular">
        <div class="element-up">
          <div class="inputDesign">
            <div>
              <label for="first_name">First name</label>
            </div>
            <input type="text" class="name" name="first_name" id="first_name" [(ngModel)]="booking.first_name" required
              pattern="[a-zA-Z]{2,15}" #first_name="ngModel">
            <div class="error_message">
              <label for="first_name" class="fa fa-exclamation-triangle" *ngIf="! first_name.valid && first_name.touched">
                Please enter a
                valid
                first name format!
              </label>
            </div>
          </div>
          <div class="inputDesign">
            <div>
              <label for="last_name">Last name</label>
            </div>
            <input type="text" class="name" name="last_name" id="last_name" [(ngModel)]="booking.last_name" required
              pattern="[a-zA-Z]{2,15}" #last_name="ngModel">
            <div class="error_message">
              <label for="last_name" class="fa fa-exclamation-triangle" *ngIf="! last_name.valid && last_name.touched">
                Please enter a
                valid
                last name format!
              </label>
            </div>
          </div>

        </div>
        <div class="element-mid">
          <div class="inputDesign">
            <div>
              <label for="phone">Phone</label>
            </div>
            <input type="text" class="phone" name="phone" id="phone" [(ngModel)]="booking.phone" required pattern="[0-9.+ ]{10,20}"
              #phone="ngModel">
            <div class="error_message">
              <label for="phone" class="fa fa-exclamation-triangle" *ngIf="! phone.valid && phone.touched"> Please
                enter a valid phone
                format!
              </label>
            </div>
          </div>
          <div class="inputDesign">
            <div>
              <label for="email">Email</label>
            </div>
            <input type="text" class="email" name="email" id="email" [(ngModel)]="booking.email" required pattern="[a-zA-Z0-9._-]{2,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
              #email="ngModel">
            <div class="error_message">
              <label for="email" class="fa fa-exclamation-triangle" *ngIf="! email.valid && email.touched"> Please
                enter a valid email
                format!
              </label>
            </div>
          </div>
        </div>
        <div class="element-down">
          <div class="inputDesign">
            <div>
              <label for="address">Address</label>
            </div>
            <input type="text" class="address" id="address" name="address" [(ngModel)]="booking.address" required
              pattern="[a-zA-Z0-9,.;: ]{5,30}" #address="ngModel">
            <div class="error_message">
              <label for="address" class="fa fa-exclamation-triangle" *ngIf="! address.valid && address.touched">
                Please enter a valid
                address
                format!
              </label>
            </div>
          </div>
          <div class="inputDesign">
            <div>
              <label for="date">Date</label>
            </div>
            <input class="date" type="date" id="date" name="date" [min]="today" [(ngModel)]="booking.time" required
              #date="ngModel">
            <div class="error_message">
              <label for="date" class="fa fa-exclamation-triangle" *ngIf="! date.valid && date.touched"> Please choose
                the date!
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="next_button">
        <button type="submit" class="next" [disabled]="!bookingForm.valid">SEND BOOKING</button>
      </div>
    </form>
  </div>
  <div class="modal" *ngIf="sendEnabled">
    <div class="sendBooking">
      <div style="float:right;">
        <button type="button" class="close" (click)="toggleUndo()">x</button>
      </div>
      <div class="img">
        <img src="./assets/sendBooking.png">
      </div>
      <div class="requestSend">
        <p>Your request was sent!</p>
      </div>
      <div class="confirmation">
        <p>In a couple of seconds a confirmation email will be sent to your email address with all the details for your
          reservation.
          Thank you for using our services!</p>
      </div>
      <div class="rating">
        <p>RATE US</p>
        <rating [(ngModel)]="starsCount" (click)="count()" [max]="5" class="fa-star" fullIcon="★" emptyIcon="☆"
          [readonly]="false" [disabled]="false" [required]="true" [float]="true" [titles]="['one', 'two', 'three', 'four', 'five']">
        </rating>
      </div>
      <div class="buttonSize">
        <button type="button" class="closeButton" (click)="toggleUndo()">CLOSE</button>
      </div>
    </div>
  </div>
</div>
