.bkg-offices {
  position: relative;
  padding-bottom: 50px;
  min-height: 787px;
}
.bkg-offices::before {
  background-image: url(../../../../assets/building.png);
  background-repeat: no-repeat;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-size: 2000px 1000px;
  background-attachment: fixed;
  opacity: 0.1;
  z-index: -1;
  content: "";
  position: absolute;
}
.officeList {
  padding-top: 150px;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.createOffice {
  margin: 0 auto;
  max-width: 700px;
  margin-bottom: 100px;
}
.rectangle {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-right: 20px;
  padding-left: 20px;
}
.fa-plus-circle {
  transition: 0.8s;
}
.createButton,
.deleteButton,
.create {
  float: right;
  border: none;
  background: transparent;
  outline: none;
}
.createButton i,
.deleteButton i {
  transition: color 0.8s;
  color: #d966ff;
}
.createButton i:hover,
.deleteButton i:hover {
  transition: color 0.8s;
  color: #ffccff;
}
.modal,
.delete-modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  max-height: calc(100vh - 100px);
  overflow-y: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 100px;
}
.on-delete {
  max-width: 500px;
  margin: 0 auto;
  min-height: 200px;
  border-radius: 5px;
  background-color: white;
  outline: none;
  border: 2px solid #ffe6ff;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
.on-delete p {
  font-size: 30px;
  color: #d966ff;
  padding-bottom: 50px;
}
.approve,
.approve-div {
  display: flex;
  margin: 0 auto;
}
.approve-yes,
.approve-no {
  transition: 0.8s;
  width: 100px;
  height: 40px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 25px;
  border-radius: 10px;
  outline: none;
  border: none;
  color: white;
  background: #d966ff;
}
.approve-yes:hover,
.approve-no:hover {
  transition: background 0.8s;
  background: #ffccff;
}
.close {
  transition: 0.8s;
  font-size: 15px;
  border: none;
  background: transparent;
  color: grey;
  outline: none;
}
.close:hover {
  transition: color 0.8s;
  color: black;
}
.create i {
  font-size: 90px;
  color: #d966ff;
}
.create i:hover {
  transition: color 0.8s;
  color: #ffccff;
}
.office {
  transition: 0.8s;
  max-width: 700px;
  margin: 0 auto;
  border-radius: 5px;
  background-color: white;
  outline: none;
  border: 2px solid #ffe6ff;
  padding-bottom: 20px;
  text-align: center;
}
.office:hover {
  transition: box-shadow 0.8s;
  box-shadow: 0 0 11px #d966ff;
  opacity: 0.7;
}
.officeEdit {
  max-width: 800px;
  margin: 0 auto;
  min-height: 600px;
  border-radius: 5px;
  background-color: white;
  outline: none;
  border: 2px solid #ffe6ff;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
.name,
.newName {
  border-radius: 5px;
  border: 1px solid #595959;
  background-color: white;
  height: 50px;
  font-size: 25px;
  padding-left: 10px;
  padding-right: 10px;
  outline: none;
  margin-top: 10px;
}
.name {
  width: 86%;
  font-weight: bold;
  color: #d966ff;
}
.newName {
  width: 89%;
  transition: 0.8s;
}
.newName:hover,
.newName:focus {
  transition: box-shadow 0.8s;
  box-shadow: 0 0 11px #d966ff;
  border: 1px solid #ff99ff;
}
.officeName {
  width: 600px;
  padding-left: 75px;
  font-size: 28px;
}
.addNewOffice {
  width: 600px;
  height: 130px;
  padding-left: 25px;
  font-size: 35px;
}
.addNewOffice p {
  color: #d966ff;
  font-weight: bold;
}
.createNewName {
  height: 110px;
  font-size: 20px;
}
.createNewName p,
.createNewDesc p {
  margin: 0;
}
.createNewDesc {
  font-size: 20px;
}
.officeName p {
  font-weight: bold;
  color: #d966ff;
  padding-left: 10px;
}
.textarea,
.createTextarea {
  transition: 0.8s;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 15px;
  color: #595959;
}
.textarea {
  margin-left: 25px;
  margin-top: 25px;
}
.createTextarea {
  margin-top: 10px;
  width: 91%;
  outline: none;
}
.createTextarea:hover,
.createTextarea:focus {
  transition: box-shadow 0.8s;
  box-shadow: 0 0 11px #d966ff;
  border: 1px solid #ff99ff;
}
.officeDesc {
  margin-top: 10px;
  padding-left: 55px;
  padding-right: 60px;
  height: 130px;
  font-size: 20px;
}
.officeInfo {
  margin-top: 15px;
  height: 50px;
  font-size: 20px;
}
.edit,
.delete {
  transition: 0.8s;
  background-color: transparent;
  outline: none;
  border: none;
  height: 20px;
}
.edit {
  margin-top: 15px;
}
.editInfo {
  padding-left: 25px;
  color: grey;
  margin-bottom: 50px;
  margin-top: 30px;
}
.edit:hover {
  transition: color 0.8s;
  color: lightgray;
}
.delete {
  margin-top: 13px;
  margin-right: 15px;
}
.delete:hover {
  transition: color 0.8s;
  color: lightgray;
}
.edit-delete,
.officeInfo {
  display: flex;
}
.element-up,
.element-down {
  width: 50%;
  margin-left: 25px;
}
.officeInfo p {
  font-size: 20px;
  color: grey;
  margin: 0;
  padding-bottom: 20px;
}
.spaces,
.duration,
.price {
  width: 33%;
  text-align: center;
  font-size: 20px;
}
.error_message {
  transition: 0.8s;
  width: 97%;
  text-align: center;
  color: red;
}
.createButton:disabled i {
  transition: color 0.8s;
  color: grey;
}
.element-res {
  display: flex;
}
.icons {
  font-size: 80px;
}
@media only screen and (max-width: 650px) {
  .officeInfo {
    display: inline;
    text-align: center;
  }
  .spaces,
  .duration,
  .price {
    width: 100%;
  }
}

@media only screen and (max-width: 800px) {
  .responsive {
    display: inline;
    text-align: center;
  }
  .element-up,
  .element-down {
    width: 90%;
  }
  .newName,
  .createTextarea {
    text-align: center;
  }
  .icons {
    font-size: 50px;
  }
}
