<app-page-header-admin>
</app-page-header-admin>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="officeList background">
  <div class="createOffice">
    <button class="create">
      <i class="fa fa-plus-circle" title="Add new office" (click)="toggleAdd()"></i>
    </button>
  </div>
  <div class="rectangle" *ngFor="let office of officesList">
    <!-- office -->
    <div class="office">
      <div class="edit-delete">
        <div class="officeName">
          <p>{{office.name}}</p>
        </div>

        <button class="edit">
          <i class="fa fa-edit" style="font-size:30px;" title="Edit this office" (click)="toggleEdit(office)"></i>
        </button>
        <button class="delete">
          <i class="fa fa-trash-o" style="font-size:30px;" title="Delete this office" (click)="toggleDelete()"></i>
        </button>
      </div>
      <div class="delete-modal" *ngIf="deleteEnabled">
        <div class="on-delete">
          <div style="float:right;">
            <button type="button" class="close" (click)="toggleUndo()">x</button>
          </div>
          <p>You`re sure you want to delete it?</p>
          <div class="approve">
            <div class="approve-div">
              <button class="approve-yes" (click)="deleteOffice(office)">Yes</button>
              <button class="approve-no" (click)="toggleUndo()">No</button>
            </div>
          </div>
        </div>
      </div>
      <div class="officeDesc">
        <p>{{office.description}}</p>
      </div>
      <div class="officeInfo">
        <div class="spaces">
          <span>{{office.address}}</span>
          <p>Adress</p>
        </div>
        <div class="duration">
          <span>{{office.email}}</span>
          <p>Email</p>
        </div>
        <div class="price">
          <span>{{office.phone}}</span>
          <p>Phone</p>
        </div>
      </div>
    </div>
  </div>

  <!-- edited office -->
  <div class="modal" *ngIf="editEnabled">
    <form class="officeEdit" (ngSubmit)="updateOffice(officeData)" #edit="ngForm" name="editForm">
      <div class="edit-delete">
        <div class="addNewOffice">
          <p>Edit office</p>
        </div>
        <button type="submit" class="createButton" title="Save changes" [disabled]="!edit.valid">
          <i class="fa fa-save icons  icons"></i>
        </button>
        <button class="deleteButton">
          <i class="fa fa-times-circle icons" title="Cancel" (click)="toggleUndo()"></i>
        </button>
      </div>
      <p class="editInfo">OFFICE DETAILS</p>
      <div class="responsive">
        <div class="firstDiv">
          <div class="createNewName">
            <p>Office name</p>
            <input type="text" class="newName" name="newName" [(ngModel)]="officeData.name" required pattern="[a-zA-Z0-9- ]{1,30}"
              #newName="ngModel">
            <div class="error_message">
              <i class="fa fa-exclamation-triangle" *ngIf="! newName.valid && newName.touched"> Please enter a valid
                name
                format!
              </i>
            </div>
          </div>
          <div class="createNewDesc">
            <p>Office description</p>
            <textarea rows="9" maxlength="300" class="createTextarea" name="textarea" [(ngModel)]="officeData.description"
              required pattern=".{10,}" #textarea="ngModel"></textarea>
            <div class="error_message">
              <i class="fa fa-exclamation-triangle" *ngIf="! textarea.valid && textarea.touched"> Please enter a valid
                description
                format!
              </i>
            </div>
          </div>
        </div>
        <div class="secondDiv">
          <div class="createNewName">
            <p>Address</p>
            <input type="text" class="newName" name="address" [(ngModel)]="officeData.address" required pattern="[a-zA-Z0-9,.;: ]{5,100}"
              #address="ngModel">
            <div class="error_message">
              <i class="fa fa-exclamation-triangle" *ngIf="! address.valid && address.touched"> Please enter a valid
                adress
                format!
              </i>
            </div>
          </div>
          <div class="createNewName">
            <p>Email</p>
            <input type="text" class="newName" name="email" [(ngModel)]="officeData.email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
              #email="ngModel">
            <div class="error_message">
              <i class="fa fa-exclamation-triangle" *ngIf="! email.valid && email.touched"> Please enter a valid email
                format!
              </i>
            </div>
          </div>
          <div class="createNewName">
            <p>Phone</p>
            <input type="text" class="newName" name="phone" [(ngModel)]="officeData.phone" required pattern="[0-9.+ ]{10,20}"
              #phone="ngModel">
            <div class="error_message">
              <i class="fa fa-exclamation-triangle" *ngIf="! phone.valid && phone.touched"> Please enter a valid phone
                format!
              </i>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

  <!-- create office -->
  <div class="modal" *ngIf="createEnabled">
    <form (ngSubmit)="addOffice(officeData)" class="officeEdit" #create="ngForm">
      <div class="edit-delete">
        <div class="addNewOffice">
          <p>Add new office</p>
        </div>
        <button type="submit" class="createButton" title="Create office" [disabled]="!create.valid">
          <i class="fa fa-plus-circle icons"></i>
        </button>
        <button class="deleteButton">
          <i class="fa fa-times-circle icons" title="Cancel" (click)="toggleUndo()"></i>
        </button>
      </div>
      <p class="editInfo">OFFICE DETAILS</p>
      <div class="responsive">
        <div class="firstDiv">
          <div class="createNewName">
            <p>Office name</p>
            <input type="text" class="newName" name="newName" [(ngModel)]="officeData.name" required pattern="[a-zA-Z0-9- ]{1,30}"
              #newName="ngModel">
            <div class="error_message">
              <i class="fa fa-exclamation-triangle" *ngIf="! newName.valid && newName.touched"> Please enter a valid
                name
                format!
              </i>
            </div>
          </div>
          <div class="createNewDesc">
            <p>Office description</p>
            <textarea rows="9" maxlength="300" class="createTextarea" name="textarea" [(ngModel)]="officeData.description"
              required pattern=".{10,}" #textarea="ngModel"></textarea>
            <div class="error_message">
              <i class="fa fa-exclamation-triangle" *ngIf="! textarea.valid && textarea.touched"> Please enter a valid
                description
                format!
              </i>
            </div>
          </div>
        </div>
        <div class="secondDiv">
          <div class="createNewName">
            <p>Address</p>
            <input type="text" class="newName" name="address" [(ngModel)]="officeData.address" required pattern="[a-zA-Z0-9,.;: ]{5,100}"
              #address="ngModel">
            <div class="error_message">
              <i class="fa fa-exclamation-triangle" *ngIf="! address.valid && address.touched"> Please enter a valid
                adress
                format!
              </i>
            </div>
          </div>
          <div class="createNewName">
            <p>Email</p>
            <input type="text" class="newName" name="email" [(ngModel)]="officeData.email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
              #email="ngModel">
            <div class="error_message">
              <i class="fa fa-exclamation-triangle" *ngIf="! email.valid && email.touched"> Please enter a valid email
                format!
              </i>
            </div>
          </div>
          <div class="createNewName">
            <p>Phone</p>
            <input type="text" class="newName" name="phone" [(ngModel)]="officeData.phone" required pattern="[0-9.+ ]{10,20}"
              #phone="ngModel">
            <div class="error_message">
              <i class="fa fa-exclamation-triangle" *ngIf="! phone.valid && phone.touched"> Please enter a valid phone
                format!
              </i>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
