<app-page-header-company>
</app-page-header-company>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="companyList">
    <div class="createService">
            <button class="create">
                <i class="fa fa-plus-circle"></i>
            </button>
    </div>
    <div class="company">
        <div class="edit-delete">
            <div class="companyName">
                <p>Name of the service</p>
            </div>

            <button class="edit">
                <i class="fa fa-edit" style="font-size:30px;"></i>
            </button>
            <button class="delete">
                <i class="fa fa-trash-o" style="font-size:30px;"></i>

            </button>
        </div>
        <div class="companyDesc">
            <p>description</p>
        </div>
        <div class="companyInfo">
            <div class="availability">
                <span>Mon-Fri,8:00-16:00</span>
                <p>Availability</p>
            </div>
            <div class="spaces">
                <span>6 available</span>
                <p>Spaces</p>
            </div>
            <div class="duration">
                <span>1 hour</span>
                <p>Duration</p>
            </div>
            <div class="price">
                <span>210 LEI</span>
                <p>Price</p>
            </div>
        </div>
    </div>
</div>