<!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ"
  crossorigin="anonymous"> -->

<div id="navbar">
  <div class="dropdown">
    <button class="dropdownButton"><i class="fa fa-bars" style="font-size: 30px"></i></button>
    <div class="dropdown-content">
      <div class="content">
        <a [routerLink]="['/companies']" title="Go to companies" routerLinkActive="isActive">Companies
        </a>
      </div>
      <div class="content">
        <a [routerLink]="['/login']" title="Log In" routerLinkActive="isActive"> Log In
        </a>
      </div>
    </div>
  </div>
  <span class="imgP" style="margin-top: 40px;">
    <a [routerLink]="['/companies']" title="Go to Companies" class="navbar-brand">
      Booking App
    </a>

  </span>
  <div id="right">
    <span class="menuOpt" [hidden]="currentRoute == '/users'">
      <ul class="pages">
        <a [routerLink]="['/companies']" title="Go to Companies" routerLinkActive="isActive">Companies
        </a>
        <a [routerLink]="['/login']" title="Log In" routerLinkActive="isActive"> Log In
        </a>
      </ul>
    </span>
  </div>
</div>
