<!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ"
  crossorigin="anonymous"> -->

<div id="navbar">
  <a (click)="toggle()" class="menubtn">
    <i class="fas fa-bars"></i>
  </a>
  <span class="imgP" style="margin-top: 40px;">
    <a routerLink="/companies" class="navbar-brand">
      Booking App
    </a>

  </span>
  <div id="right">

    <span class="menuOpt" [hidden]="currentRoute != '/users'">
      <ul class="pages">
        <a routerLink="/companies">
          <li [ngClass]="{'active': currentRoute=='/companies'}">Companies</li>
        </a>
        <a routerLink="/login">
          <li [ngClass]="{'active': currentRoute=='/login'}">Log In</li>
        </a>
      </ul>
    </span>

    <span class="menuOpt" [hidden]="currentRoute == '/users'">
      <ul class="pages">
        <a [routerLink]="['/companies']" routerLinkActive="isActive">Companies
        </a>
        <a [routerLink]="['/login']" routerLinkActive="isActive"> Log In
        </a>
      </ul>
    </span>
  </div>
</div>