.container {
  padding: 27px 0 18px 0;
  padding: 27px 70px 0 120px;
}
li a {
  font-weight: 200;
  color: #00217a;
  font-size: 16px;
  display: flex;
}
.navbar-brand {
  font-size: 40px;
  color: white;
  padding-left: 20px;
  text-decoration: none;
}
.profilePic {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  height: 45px;
  margin-right: -13px;
  cursor: pointer;
}

.navbar li :hover {
  color: #00217a;
}

.active {
  border-bottom: 2px solid #006fff;
  color: #00217a;
  font-weight: bold;
}
.active a {
  font-weight: bold;
}

#navbar {
  height: 90px;
  background-color: #8080ff;
  color: white;
  display: flex;
  position: fixed;
  width: 100%;
  z-index: 1000;
  justify-content: space-between;
}

#navbar .pages {
  list-style: none;
  display: inline-flex;
  font-size: 25px;
  color: white;
  margin-top: 40px;
}

.pages li a {
  margin-right: 10px;
  text-decoration: none;

  color: white;
  font-size: 16px;
  margin-right: 21px;

  height: 100px;
}
.pages a {
  line-height: 94px;
  margin-left: 34px;
  padding-top: 13px;
  color: white;
  cursor: pointer;
  text-decoration: none;
}
.isActive {
  font-weight: bold;
}

.logoPic {
  margin-top: -10px;
}

.profile {
  list-style: none;
  display: inline-flex;
  text-decoration: none;
  outline: none;

  height: 80px;
  align-items: center;
  margin-top: 14px;
}

.profile li a {
  text-decoration: none;
  outline: none;
  margin-right: 20px;
  color: white;
  margin-top: -8px;
}

#right {
  display: flex;
  align-items: center;
  margin-right: 50px;
}

.pages li {
  line-height: 94px;
  margin-left: 34px;
  padding-top: 13px;
  color: white;
  cursor: pointer;
}

@media only screen and (min-width: 863px) {
  .menubtn {
    display: none !important;
  }
  #right {
    display: flex !important;
    color: #fff;
  }
  #minProf {
    display: none;
  }
}
.dropdown {
  display: none;
}

@media only screen and (max-width: 600px) {
  .dropdown {
    position: relative;
    display: inline-block;
    text-align: center;
    padding-top: 35px;
    padding-left: 20px;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background: #8080ff;
    margin-left: -20px;
    padding-top: 30px;
    width: 150px;
    height: 100px;
    z-index: 1;
  }
  .dropdown-content a {
    text-decoration: none;
    display: contents;
    color: white;
    cursor: pointer;
    font-size: 25px;
    padding: 0;
  }
  .dropdownButton {
    background: transparent;
    outline: none;
    border: none;
  }
  .dropdown-content a:hover {
    color: #ffccff;
  }

  .dropdown:hover .dropdown-content {
    display: grid;
  }

  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }
  .fa {
    color: white;
  }
  .fa:hover,
  .fa:active {
    color: #ffccff;
    display: inline;
  }
  .navbar-brand {
    font-size: 30px;
  }
  #right {
    clear: both;
    display: none;
    align-items: center;
    margin-top: 115px;
    margin-right: 50px;
  }
  .menuOpt {
    width: 1000%;
    color: white;
  }

  #navbar {
    display: block;
    height: auto;
    border-radius: 5px;
    min-height: 100px;
    margin-top: -19px;
    border-radius: 4px;
  }

  .menubtn {
    padding: 26px;
    font-size: 23px;
    color: #000000;
    position: absolute;
    cursor: pointer;
    padding-top: 45px;
  }

  .pages li {
    line-height: 16px;
    margin: 0 !important;
    padding-top: 13px;
    width: 100%;
    border-bottom: 2px solid #ffffff;
    padding: 15px 2px 8px 9px;
    color: #fff !important;
    background: #0087ff;
  }

  .pages a {
    color: #fff !important;
  }

  .pages li:hover {
    background: #5fa5ff;
  }

  #navbar .pages {
    display: flow-root;
    padding: 0;
    width: 91%;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: -19px;
  }

  .profile {
    display: none;
  }

  .logoPic {
    margin-top: 25px !important;
  }

  .imgP {
    display: block;
    margin: 0 auto;
    float: right;
    margin-right: 27px;
  }
  .menuitems {
    width: 100%;
  }
}
