.office{
    max-width: 50%;
    margin: 0 auto;
    margin-top: 50px;
    padding-left: 30px;
    background: white;
    outline: none;
    border: 2px solid #ffe6ff;
    border-radius: 5px;
}
.officeInfo{
    display: flex;
}
.officeInfo p{
    color: grey;
}
.address, .email, .phone{
    width: 33%;
    text-align: center;
}
.officeName p, .officeDesc p{
    font-size: 25px;
}
.selectOffice{
    width: 25%;
    height: 40px;
    border-radius: 5px;
    outline: none;
    color: white;
    background: #d966ff;
    font-size: 20px;
    padding-top: 5px;   
    margin-bottom: 20px;
}
.selectOffice:hover{
    background:#ffccff;
}
.company{
    max-width: 900px;
    margin: 0 auto;
    outline: none;
    display: flex;
    padding-top: 20px;
    padding-right: 10px;
    padding-left: 10px;
}
.img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 1px solid lightgrey;
}
.logo{
    width: 35%;
    text-align: center;
    padding-top: 40px;
}
.companyName{
    /* border: 1px solid green; */
    font-size: 23px;
    padding-right: 10px;
}
.companyName p{
    font-size: 25px;
    font-weight: bold;
}
.companyDesc{
    /* border: 1px solid blue; */
    font-size: 17px;
    padding-right: 10px;
}
.companyInfo{
    width: 65%;
    padding-top: 20px;
}
