.background {
  position: relative;
  padding-bottom: 50px;
}
.background::before {
  background-image: url(../../../../assets/1.jpg);
  background-repeat: no-repeat;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-size: 2000px 1000px;
  background-attachment: fixed;
  opacity: 0.1;
  z-index: -1;
  content: "";
  position: absolute;
}
.office {
  max-width: 700px;
  margin: 0 auto;
  margin-top: 50px;
  background: white;
  outline: none;
  border: 2px solid #ffe6ff;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 40px;
}
.office:hover {
  transition: box-shadow 0.8s;
  box-shadow: 0 0 11px #d966ff;
}
.officeList {
  padding-left: 20px;
  padding-right: 20px;
}
.officeInfo {
  display: flex;
  flex-wrap: wrap;
}
.officeInfo p {
  color: grey;
}
.address,
.email,
.phone {
  width: 33%;
  text-align: center;
}
.officeName p,
.officeDesc p {
  font-size: 25px;
}
.selectOffice {
  width: 40%;
  height: 40px;
  border-radius: 5px;
  outline: none;
  color: white;
  background: #d966ff;
  font-size: 20px;
  padding-top: 5px;
  margin-bottom: 20px;
  margin-top: 30px;
}
.selectOffice:hover {
  transition: background 0.8s;
  background: #ffccff;
}
.company {
  max-width: 780px;
  margin: 0 auto;
  outline: none;
  display: flex;
  padding-top: 20px;
  padding-right: 10px;
  padding-left: 10px;
}
.img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 1px solid lightgrey;
}
.logo {
  text-align: center;
  padding-top: 40px;
}
.companyName {
  font-size: 23px;
  padding-right: 10px;
}
.companyName p {
  font-size: 25px;
  font-weight: bold;
}
.companyDesc {
  font-size: 17px;
  padding-right: 10px;
}
.companyInfo {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}
agm-map {
  height: 200px;
}
.address:hover,
.address:focus {
  transition: color 0.8s;
  color: #ffccff;
}
.address:hover ~ .map {
  transition-duration: 1s;
  opacity: 1;
  display: block;
}
.map {
  transition-duration: 1s;
  transition: opacity 0.8s;
  display: none;
  width: 80%;
  margin: 0 auto;
  border: 1px solid #ffccff;
  opacity: 0;
}
.map:hover {
  opacity: 0.7;
  display: block;
}
.social-media {
  border: none;
  outline: none;
  background: transparent;
  margin-right: 10px;
}
.social {
  width: 30px;
  height: 30px;
  opacity: 0.5;
}
.social:hover {
  transition: opacity 0.8s;
  opacity: 1;
}
@media only screen and (max-width: 700px) {
  .company {
    display: block;
    text-align: center;
  }
  .office {
    padding: 0;
  }
  .officeInfo {
    display: block;
    text-align: center;
  }
  .address,
  .email,
  .phone {
    width: 100%;
  }
}
@media only screen and (max-width: 500px) {
  /* agm-map,
  .map {
    width: 200px;
  } */
}
