.container{
    padding: 27px 0 18px 0;
    padding: 27px 70px 0 120px;
}
li a {
    font-weight: 200;
    color: #00217A;
    font-size: 16px;	 
    display: flex;
}
.navbar-brand{
    font-size: 40px;
    color: white;
    padding-left: 50px;
}
.profilePic{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    height: 45px;
    margin-right: -13px;
    cursor: pointer;
}

a{color:#00217A;text-decoration: none;}

.navbar li :hover{
    color: #00217A;
}

.active{
    border-bottom: 2px solid #006FFF;
    color: #00217A;	font-weight: bold;

}
.active a {    font-weight: bold;}

#navbar{
    height: 90px;
    background-color: #8080ff;
    color: white;
    display: flex;
    justify-content: space-between;    
}

#navbar .pages{
    list-style: none;
    display: inline-flex;
    font-size: 25px;
    color: white;
    margin-top: 40px;
}


.pages li a{
    margin-right:10px;
    text-decoration: none;
  	
    color:white;	
    font-size: 16px;
    margin-right: 21px;
    
    height: 100px;
}

.logoPic{margin-top: -10px;}

.profile{
    list-style: none;
    display: inline-flex;
    text-decoration: none;
    outline: none;
    
    height: 80px;
    align-items: center;
    margin-top: 14px;
}


.profile li a{
    /* display: inline-flex; */
    text-decoration: none;
    outline: none;
    margin-right: 20px;
    color: white;
    margin-top: -8px;
}

#right{
    display: flex;
    align-items: center;
}

.pages li {
    line-height: 94px;
    /* width: 50px; */
    margin-left: 34px;
    padding-top: 13px;
    color:white;
    cursor: pointer;
}

@media only screen and (min-width: 701px) {
    .menubtn{
        display: none !important;
    }
    #right{
        display: flex !important;
        color:#fff;
    }
    #minProf{display: none;}
}

@media only screen and (max-width: 700px) {
   
    #right{
        clear: both;
        display: none;
        align-items: center;
        margin-top:115px;
    }
    .menuOpt{
        width:1000%;
        color: white;
    }

    #navbar{
        display: block;
        height:auto;
        border-radius: 5px;
        min-height: 100px;
        margin-top: -19px;
        border-radius: 4px;
        overflow: hidden;
    }

    a{margin:0 auto !important;}

 

    .menubtn{
        padding: 26px;
        font-size: 23px;
        color: #000000;
        position: absolute;
        cursor: pointer;
        padding-top: 45px;
        
    }
    .menubtn:hover{
        color:#0087ff;
    }

    .pages li {
        line-height: 16px;
        margin: 0 !important;
        padding-top: 13px;
        width: 100%;
        border-bottom: 2px solid #ffffff;
        padding: 15px 2px 8px 9px;
        color: #fff !important;
        background: #0087ff;
    }

    .pages a{
        color:#fff !important;
    }

    .pages li:hover{
        background:#5fa5ff;
    }
  

    #navbar .pages{
        display: flow-root;
        padding: 0;
        width: 91%;
        margin: 0 auto;
        margin-bottom: 20px;
        margin-top: -19px;
    }

    .profile{
        display: none;
    }

    .logoPic{
        margin-top: 25px !important;
    }
  
    .imgP{
        display: block;
        margin: 0 auto;

        float: right;
        margin-right: 27px;
    }
    .menuitems{
        width: 100%;
    }

}
@media only screen and (min-width: 1400px) {
    .profile{margin-left:60px !important;}
}

@media only screen and (min-width: 1200px) {
    #right{
        float: right;
        display: block;
        align-items: center;
    }
    
   .profile li:nth-child(2) {
         width: 134px;
    }

   .logoPic{margin-left:254px;}

   #right{
        margin-right: 50px;
    }
  
}

.pages{display: none;}

.points{
    background: #ff5656;
    color: #fff;
    border-radius: 5px;
    padding: 2px 5px 0px 5px;
    font-size: 11px;
    width: fit-content;
}