.container {
  padding: 27px 0 18px 0;
  padding: 27px 70px 0 120px;
}
.navbar-brand {
  font-size: 40px;
  color: white;
  padding-left: 20px;
  text-decoration: none;
}
#navbar {
  height: 90px;
  background-color: #8080ff;
  color: white;
  display: flex;
  position: fixed;
  width: 100%;
  z-index: 1000;
  justify-content: space-between;
}
.fa-bars {
  font-size: 30px;
}
.imgP {
  margin-top: 40px;
}
#navbar .pages {
  list-style: none;
  display: inline-flex;
  font-size: 25px;
  color: white;
  margin-top: 40px;
}
.pages a {
  line-height: 94px;
  margin-left: 34px;
  padding-top: 13px;
  color: white;
  cursor: pointer;
  text-decoration: none;
}
.isActive {
  font-weight: bold;
}
#right {
  display: flex;
  align-items: center;
}
@media only screen and (min-width: 863px) {
  .menubtn {
    display: none !important;
  }
  #right {
    display: flex !important;
    color: #fff;
    margin-right: 50px;
  }
}
.dropdown {
  display: none;
}

@media only screen and (max-width: 862px) {
  .dropdown {
    position: relative;
    display: inline-block;
    text-align: center;
    padding-top: 35px;
    padding-left: 20px;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background: #8080ff;
    margin-left: -20px;
    padding-top: 30px;
    width: 150px;
    height: 200px;
    z-index: 1;
  }
  .dropdown-content a {
    text-decoration: none;
    display: contents;
    color: white;
    cursor: pointer;
    font-size: 25px;
    padding: 0;
  }
  .dropdownButton {
    background: transparent;
    outline: none;
    border: none;
  }
  .dropdown-content a:hover {
    color: #ffccff;
  }

  .dropdown:hover .dropdown-content {
    display: grid;
  }

  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }
  .fa {
    color: white;
  }
  .fa:hover,
  .fa:active {
    color: #ffccff;
    display: inline;
  }
  #right {
    clear: both;
    display: none;
    align-items: center;
    margin-top: 115px;
  }
  .menuOpt {
    width: 1000%;
    color: white;
  }

  #navbar {
    display: block;
    height: auto;
    border-radius: 5px;
    min-height: 100px;
    margin-top: -19px;
    border-radius: 4px;
  }
  .imgP {
    display: block;
    margin: 0 auto;
    float: right;
    margin-right: 27px;
    margin-top: 40px;
  }
}
