<!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ"
  crossorigin="anonymous"> -->

<div id="navbar">
  <div class="dropdown">
    <button class="dropdownButton"><i class="fa fa-bars"></i></button>
    <div class="dropdown-content">
      <div class="content">
        <a [routerLink]="['/offices']" title="Go to Offices" routerLinkActive="isActive">Offices
        </a>
      </div>
      <div class="content">
        <a [routerLink]="['/services']" title="Go to Services" routerLinkActive="isActive">Services
        </a>
      </div>
      <div class="content">
        <a [routerLink]="['/bookings']" title="Go to Bookings" routerLinkActive="isActive">Bookings
        </a>
      </div>
      <div class="content">
        <a [routerLink]="['/profile']" title="Go to Profile" routerLinkActive="isActive">Profile
        </a>
      </div>
    </div>
  </div>
  <span class="imgP">
    <a [routerLink]="['/offices']" title="Go to Offices" class="navbar-brand">
      Booking App
    </a>

  </span>
  <div id="right">
    <span class="menuOpt" [hidden]="currentRoute == '/users'">
      <ul class="pages">
        <a [routerLink]="['/offices']" title="Go to Offices" routerLinkActive="isActive">Offices
        </a>
        <a [routerLink]="['/services']" title="Go to Services" routerLinkActive="isActive">Services
        </a>
        <a [routerLink]="['/bookings']" title="Go to Bookings" routerLinkActive="isActive">Bookings
        </a>
        <a [routerLink]="['/profile']" title="Go to Profile" routerLinkActive="isActive">Profile
        </a>
      </ul>
    </span>
  </div>
</div>
